.header {
  background-color: black;
  color: white;
}

.freccia {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #ffffff;
}

.btn {
    border: none;
}

.dropdown-toggle {
  background-color: transparent;
  color: white;
}

.body {background-color: #141414;}

.resize {
    width: 200px;
    height: 320px;
}

.btn {border-radius: 0;}
